@import "styles/variables";

.row {
  display: flex;
  align-items: center;
}

.startDate {
  margin-right: 155px;
}

.startDate > span {
  width: 230px;
}

.endDate {
}

.endDate > span {
  width: 230px;
}

.documentName {
  width: 230px;
  margin-right: 155px;
}

.status {
  width: 230px;
}

.notes {
  width: 730px;
}

.notes textarea {
  height: 120px;
}

.submitButton {
  order: 1;
}

.cancelButton {
  order: 2;
}

.deleteButton {
  order: 3;
  position: absolute;
  right: 0;
  top: 0;
}
