.content {
    padding: 1px 36px 18px 36px;
}

.section {
    margin: 20px 0 10px 0;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #e2e2e2;
  background: #fff;
  padding: 0 50px;
}

.deleteButton {
  padding-left: 27px !important;
  padding-right: 27px !important;
}

.deleteLink {
  text-decoration: none !important;
}
