@import "styles/bem.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

#{ bem-block(InfoSet) } {
  padding: 0;
  min-width: 0;
  margin-bottom: 30px;
}

#{ bem-element(InfoSet, legend) } {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #7b7b7b;
  padding: 20px 0 20px 0;
}

#{ bem-block(InfoSet, row) } {
  @include flex(row, flex-start, $flex-wrap: wrap);
  max-width: 600px;
}

#{ bem-block(InfoSet, column) } {
  @include flex(column, flex-start, $flex-wrap: wrap);
}
