
.radioButton {
  display: inline-block;
  transition: opacity .1s ease-in;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.label.disabled {
  cursor: not-allowed;
  opacity: .6;
}

.input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  outline: 0;
  opacity: 0;
}

.mark.label {
  margin-right: 8px;
}

.focused {}
