@import "styles/bem.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

#{ bem-block(Permissions) } {
}

#{ bem-element(Permissions, admin) } {
  @include transition(background-color, .1s, ease-in);
  height: 32px;
  padding: 0 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(200, 200, 200, .2);
  }
}

#{ bem-element(Permissions, adminIcon, null) } {
  margin-right: 5px;
}

#{ bem-element(Permissions, adminIcon, null, bem-block(Icon, default)) } {
  fill: $grey-light
}