@import "~normalize.css/normalize.css";

html, body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background-color: #f5f5f5;
}

body {
  position: relative;
  overflow: auto;
}

#root {
  height: 100%;
}
