@import "styles/bem.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

#{ bem-block(AppSettings) } {
  padding-bottom: 9px;
}

#{ bem-element(AppSettings, layer) } {
  margin-bottom: 71px;
}

#{ bem-element(AppSettings, footer) } {
  @include position(fixed, $left: 0, $right: 0, $bottom: 0, $height: 65px);
  @include flex(row, center, $justify-content: flex-end);
  @include transition(opacity, .1s, ease-in);

  border-top: 1px solid #e2e2e2;
  background: #fff;
  padding: 0 50px;
}

#{ bem-element(AppSettings, cancel) } {
  order: 1;
}

#{ bem-element(AppSettings, submit) } {
  order: 2;
}
