@import "styles/bem.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

#{ bem-block(AppSettingsReports) } {
}

#{ bem-element(AppSettingsReports, content) } {
  padding: 1px 36px 18px 36px;
}

#{ bem-element(AppSettingsReports, section) } {
  @include flex(row, flex-start);
  margin-top: 19px;
}

#{ bem-element(AppSettingsReports, column) } {
  width: 270px;
}

#{ bem-element(AppSettingsReports, column, right) } {
  margin-left: 70px;
}

#{ bem-element(AppSettingsReports, field) } {
  width: 161px;
}

#{ bem-element(AppSettingsReports, field) } {
  width: 161px;
}
