@import "styles/bem.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

#{ bem-block(MainMenuItem) } {
  @include flex(row, center);
  @include transition(background-color border-right-color, .1s, ease-in);

  padding: 12px 0 12px 20px;
  background-color: transparent;
  border-right: 3px solid transparent;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.29px;
  color: #000000;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;

  &:hover, &:visited:hover {
    background-color: rgba(0, 0, 0, .02);
    border-right-color: #b8b8b8;
  }

  &:hover, &:focus, &:visited, &:visited:hover {
    color: #000;
    text-decoration: none;
  }
}

#{ bem-block(MainMenuItem, active) } {
  background-color: rgba(0, 198, 152, 0.08);
  border-right-color: #00c698;
  font-weight: 600;
}


#{ bem-element(MainMenuItem, icon) } {
  min-width: 22px;
}

#{ bem-element(MainMenuItem, label) } {
  @include transition(opacity, .1s, ease-in, .1s);
  opacity: 1;
  flex: 1;

  @at-root #{ bem-block(MainMenuItem, minimized) } & {
    opacity: 0;
  }
}
