@import "styles/variables";

.due {
  display: flex;
  justify-content: center;
  align-items: center;
}

.due i {
  margin-right: 10px;
}

.nameLink {
  color: var(--color-black) !important;
}

.dueCount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.dueCount i {
  margin-right: 5px;
}

.dueRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
