@import "styles/bem.scss";
@import "styles/mixins.scss";

#{ bem-block(AuthInput) } {
  --input-autocomplete-color: #fff;

  padding: 11px 10px 10px 10px;

  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 17px;
  letter-spacing: normal;

  &::placeholder {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    opacity: 0.6;
  }
}

#{ bem-element(AuthInput, wrapper, null, bem-block(InputLike)) } {
  height: 54px;
  background-color: rgba(255, 255, 255, .22);
  border: solid 1.5px transparent;
  border-radius: 4px;
}

#{ bem-element(AuthInput, wrapper, null, bem-block(InputLike, invalid)) } {
  border-color: #fa5252;
  background-color: rgba(250, 82, 82, 0.3);
}

#{ bem-element(AuthInput, wrapper, null, bem-block(InputLike, (invalid, focused))) } {
  border-color: #fa5252;
  background-color: rgba(250, 82, 82, 0.3);
}

#{ bem-element(AuthInput, wrapper, null, bem-block(InputLike, focused)) } {
  border-color: #fff;
  background-color: transparent;
}

#{ bem-element(AuthInput, icon, null, bem-block(Icon), bem-block(Sized, medium)) } {
  width: 24px;
  height: 24px;
}

#{ bem-element(AuthInput, icon, null, bem-element(InputLike, icon)) } {
  margin-left: 13px;
  fill: #fff;
  color: #fff;
}

#{ bem-element(AuthInput, icon, null, bem-element(InputLike, icon, invalid)) } {
  fill: #fff;
  color: #fff;
}

#{ bem-element(AuthInput, icon, null, bem-element(InputLike, icon, (invalid, focused))) } {
  fill: #fff;
  color: #fff;
}

#{ bem-element(AuthInput, icon, null, bem-element(InputLike, icon, focused)) } {
  fill: #fff;
  color: #fff;
}

