@import "components/Spinner/Spinner.scss";
@import "styles/bem.scss";
@import "styles/mixins.scss";
@import "styles/variables.scss";

#{ bem-block(FormButtons) } {
  @include flex(row, center, $justify-content: flex-start);
  position: relative;
}

#{ bem-element(FormButtons, button) } {
  width: 96px;
  margin-right: 10px;
}

#{ bem-element(FormButtons, button, delete) } {
  padding: 0 !important;
  border: none !important;
  color: #b8b8b8 !important;
  cursor: pointer;

  &:hover {
    background: none !important;
  }
}

#{ bem-element(FormButtons, spinner) } {
  animation: helios-spinner-keyframes $spinner-animation-duration infinite linear;
}
